<h1>Add new cocktail
<%= link_to raw('<i class="fa fa-plus-circle"></i>'), new_cocktail_path %>


</h1>
<% @cocktails.each do |cocktail| %>
  <div class="cocktail">
    <h3> <%= cocktail.name %> <%= link_to raw('<i class="fa fa-search-plus"></i>'), cocktail_path(cocktail)  %> </h3>
    <p>Includes:
      <% cocktail.doses.each do |dose| %>
         <%= dose.ingredient.name %>,
      <% end %>
    </p>

  </div>
<% end %>




<%= cl_image_tag("gcziwcu9oojhvajjvgab.jpg") %>
