<div class="cocktail">
  <h1>   <%= link_to raw('<i class="fa fa-chevron-left"></i>'), cocktails_path%> <%= @cocktail.name %> </h1>



  <% @cocktail.doses.each do |dose| %>
  <ul>
    <li>
      <%= dose.description %>
      of
      <%= dose.ingredient.name %>
      <%= link_to raw('<i class="fa fa-trash"></i>'), dose, method: :delete, remote: true %>
    </li>
  </ul>



  <% end %>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <br>


<!--   <%= link_to "Add dose & picture", new_cocktail_dose_path(@cocktail) %> -->
<%= link_to raw('<i class="fa fa-plus-circle"></i> Add dose'), new_cocktail_dose_path(@cocktail) %>

</div>
